<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/note/notes.css}" />
</head>
<body>
<h1><a th:href="@{note-formulaire-add}">Ajouter une Note</a></h1>
	<div>
		<table>
			<tr>
				<th>Nom</th>
				<th>Matière</th>
				<th>NOte</th>
				<th>COEF</th>
			</tr>
			<tr th:each="note : ${notes}">
				<td th:text="${note.etudiant.prenom + ' ' + note.etudiant.nom}"></td>
				<td th:text="${note.matiere.nom}"></td>
				<td th:text="${note.note}"></td>
				<td th:text="${note.matiere.coef}"></td>
				<td>
				<a 
				th:href="@{modifier-note(idMatiere=${note.matiere.id}, idEtudiant=${note.etudiant.id})}">
				Modifier
				</a></td>
			</tr>
		</table>
	</div>
</body>
</html>